{% extends 'layout.html' %}

{% block title %}
    Cashier
{% endblock %}

{% block content %}
    <main class="pos-main">
        <aside class="left-panel">
            <section class="product-list">
                <h2>Meals</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="product-grid">
                        {% for i in product|dictsort:"pname" %}
                            {% if i.pquantity > 0 %}
                                <div class="product-card">
                                    <img src="../../static/images/{{ i.pname }}.jpeg" alt=" ">
                                    <h3>{{ i.pname }}</h3>
                                    <h3>{{ i.pquantity }}</h3>
                                    <span class="price">Php {{ i.pprice }}</span>
                                    <button value="{{ i.id }}" name="add" class="add-to-cart">Add</button>
                                </div>
                            {% else %}
                                <div class="product-card">
                                    <img src="../../static/images/{{ i.pname }}_gray.jpeg" alt=" ">
                                    <h3>{{ i.pname }}</h3>
                                    <h3>Out of Stock</h3>
                                    <span class="price">Php {{ i.pprice }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </form>
            </section>
            <section class="product-list">
                <h2>Extras</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="product-grid">
                        {% for i in extras|dictsort:"exname" %}
                            <div class="product-card">
                                <h3>{{ i.exname }}</h3>
                                <span class="price">Php {{ i.exprice }}</span>
                                <button value="{{ i.id }}" name="add_extra" class="add-to-cart">Add</button>
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </section>
        </aside>
        <section class="right-panel">
            <form method="POST">
                {% csrf_token %}
                <div class="transaction-area">
                    <h2>Orders</h2>
                    <ul class="transaction-items">
                        {% for i in orders %}
                            <li class="item">
                                <span class="name">{{ i.pid.pname }}</span>
                                <span class="price">{{ i.pid.pprice }}</span>
                                <button value="{{ i.id }}" name="remove" class="remove">X</button>
                            </li>
                        {% endfor %}
                        </ul>
                    <div class="transaction-summary">
                        <div class="summary-row total">
                            <span>Total:</span>
                            <span class="amount">{{ total }}</span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="payment-area">
                <h2>Payment</h2>
                <div class="payment-input">
                    <label for="amount-tendered">Change:</label>
                    <label for="amount-tendered">{{ change }}</label>
                    <label for="amount-tendered">Amount Tendered:</label>
                    <input type="number" id="amount-tendered">
                    <div class="keypad">
                        <button value="7" class="key">7</button>
                        <button value="8" class="key">8</button>
                        <button value="9" class="key">9</button>
                        <button value="4" class="key">4</button>
                        <button value="5" class="key">5</button>
                        <button value="6" class="key">6</button>
                        <button value="1" class="key">1</button>
                        <button value="2" class="key">2</button>
                        <button value="3" class="key">3</button>
                        <button class="key clear">C</button>
                        <button value="0" class="key">0</button>
                        <button class="key backspace">&larr;</button>
                    </div>
                    <button class="complete-sale">Complete Sale</button>
                </div>
            </div>
        </section>
    </main>
{% endblock %}