<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
        | POS
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head_extra %}
    {% endblock %}
    {% block script_extra %}
    {% endblock %}
</head>
<body>
    <nav>
    {% block navigations %}
    {% endblock %}
        <form class="logout" action="/" method="POST">
            {% csrf_token %}
            <button class="logout-button">Logout</button>
        </form>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy Juan Martin Abad</p>
    </footer>
</body>
</html>