<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
        | POS
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/cashier">Cashier</a> |
        <a href="/inventory">Inventory</a> |
        <form class="logout" action="/login/" method="POST">
            {% csrf_token %}
            <button class="logout-button">Logout</button>
        </form>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy Juan Martin Abad</p>
    </footer>
</body>
</html>