{% extends 'layout.html' %}

{% block title %}
    Inventory
{% endblock %}

{% block content %}
    <div class="container">
        <main class="main-content">
            <h2>Items Overview</h2>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in products %}
                        <tr>
                            <td>{{ i.pname }}</td>
                            <td>{{ i.pquantity }}</td>
                            <td>{{ i.pdate }}</td>
                            <td>{{ i.pprice }}</td>
                            <td>
                                <button>View</button>
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <button>&laquo; Previous</button>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <button>Next &raquo;</button>
            </div>
        </main>
{% endblock %}