{% extends 'layout.html' %}

{% block title %}
    Inventory
{% endblock %}

{% block content %}
    <div class="container">
        <main class="main-content">
            <h2>Items Overview</h2>
            <div class="table-responsive">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Date</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in form %}
                                <td>{{ field }}</td>
                            {% endfor %}
                                <td>· · · · · ‒ · · · ‒ ‒ ·</td>
                                <td>‒ ‒ ·</td>
                                <td>
                                    <button name="add">Add</button>
                                </td>
                            {% for i in inventory %}
                            <tr>
                                <td>{{ i.pid.pname }}</td>
                                <td>{{ i.pquantity }}</td>
                                <td>{{ i.pdate }}</td>
                                <td>Php {{ i.pid.pprice }}.00</td>
                                <td>
                                    <button name="update" value="{{ i.id }}">Update</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </main>
{% endblock %}